*{
    margin: 0;
    padding: 0;
}

.header{
    display: inline-flex;
    background-color: #5a5a5a;
    width: 1920px;
    height: 100px;
    
}
body{
    overflow-x: hidden;
}

.logo{
    text-decoration: none;
}
.navButton{
    line-height:100px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: Pompadur;
}
.nav{
    margin-left: 30px;
    width:200px;
    text-align: center;
}
.nav:hover{
    background-color: #424242;
}

@font-face {
    font-family: Pompadur;
    src:url(/fonts/Casper.ttf);
}

.record{
    margin-top: -20px;
    width: 1920px;
    height: 700px;
    background-image: url("https://cleverbox-crm.com/uploads/news/smt_1596466666.jpg");
    text-align: center; 
    background-repeat: no-repeat;
}
.catalog{
    display: inline;
    margin-top: -20px;
    width: 1920px;
    height: 800px;
    background-color: white;
}
.products{
    margin-top: -20px;
    width: 1920px;
    height: 400px;
    background-image: url(/images/cosmetics.jpg);
    background-repeat: no-repeat;
    background-size: 1300px;
    margin-top: 100px;
}
.betterViews{
    margin-top: -20px;
    width: 1920px;
    height: 800px;
    background-image: url(/images/advantages.jpg);
}

.infoTitle{
    background-clip: text;
    color: white;
    font-size: 50px;
    font-family: Pompadur;
    position: absolute;
    top: 70%;
    left: 20%;
    height: 30%;
    width: 75%;
    margin: -15% 0 0 -25%;
    text-shadow: #000 0 0 24px;
}
.info{
    text-shadow: #000 0 0 24px;
    background-clip: text;
    color:white;
    font-size: 30px;
    font-family: Pompadur;
    position: absolute;
    top: 78%;
    left: 28%;
    height: 30%;
    width: 60%;
    margin: -15% 0 0 -25%;
}
.recordButton{
    font-family: Pompadur;
    font-size: 30px;
    border-radius: 40px;
    width: 100px;
    border: none;
    height: 80px;
    background-color: #5a5a5a;
    position: absolute;
    top: 98%;
    left: 48%;
    height: 30%;
    width: 20%;
    height: 8%;
    margin-top: 20px;
    text-decoration: none;
    margin: -15% 0 0 -25%;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    color: white;
}
.recordButton:hover{
    background-color: #424242;
}
.blur {
    background: rgba(54, 44, 44, 0.2); 
    backdrop-filter: blur(2px); 
    height: 700px;
    margin-top: 16px;
    
}
.catalogImage{
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 200px;
    width: 200px;
    height: 200px;
    border: 9px solid #424242;
}
.list{
    font-size: 20px;
    font-family: Pompadur;
    margin-top: 40px;
    margin-left: 60px;
}
.listTitle{
    margin-left: -20px;
    font-size: 24px;
    font-weight:bold;
}
.catalogElem{
    display: inline-flex;
    margin-left: 60px;
    margin-bottom: 0;
    margin-bottom: 50px;
    
}


.secondSlideTitle{
    font-family: Pompadur;
    font-size: 40px;
    color: black;
    margin-left: 38%;
}
footer{
    margin-top: 0px;
    width: 1920px;
    height: 600px;
    background-image: url(/images/background.jpg);
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 1500px;
}
.blur2{

    background: rgba(54, 44, 44, 0.2); 
    backdrop-filter: blur(2px); 
    height: 70vh;
    margin-top: -5px;
    
}
.info2{
    text-shadow: #000 0 0 24px;
    background-clip: text;
    color:white;
    font-size: 30px;
    font-family: Pompadur;
    position: absolute;
    top: 90%;
    left: 30%;
    height: 30%;
    width: 80%;
    margin: -15% 0 0 -25%;
}
.info3{
    text-shadow: #000 0 0 24px;
    background-clip: text;
    color:white;
    font-size: 30px;
    font-family: Pompadur;
    position: absolute;
    top: 90%;
    left: 72%;
    height: 30%;
    width: 80%;
    margin: -15% 0 0 -25%;
}
.footerInfoTitle{
    background-clip: text;
    color: white;
    font-size: 50px;
    font-family: Pompadur;
    position: absolute;
    top: 70%;
    left: 48%;
    height: 30%;
    width: 75%;
    margin: -15% 0 0 -25%;
    text-shadow: #000 0 0 24px;
}
.blur3{
    background: rgba(54, 44, 44, 0.2); 
    backdrop-filter: blur(2px); 
    height: 780px;
    margin-top: 16px;
    
}
.betterViewsTitle{
    color: white;
    font-size: 50px;
    font-family: Pompadur;
    text-shadow: #000 0 0 24px;
    margin-left: 24%;
    position: absolute;
    top: 40%;
    left: 46%;
    height: 30%;
    width: 80%;
    margin: -15% 0 0 -25%;
}
.betterViewsLi{
    font-family: Pompadur;
    font-size: 25px;
    color: white;
    text-shadow: #000 0 0 24px;
    display: inline-block;
    margin-top: 200px;
    margin-left: 60px;
    width: 62%;
    list-style-type: square;
}
.googleMap{
    margin-left: 12%;
}
.WhereFindUs{
    background-color: #5a5a5a;
    width: 1920px;
    height: 660px;
}
.whereFindUsTitle{
    color: white;
    font-family: Pompadur;
    margin-left: 25%;
    font-size: 50px;
    text-shadow: #000 0 0 24px;

}
.textOrderbutton{
    color: white;
    font-size: 30px;
    font-family: Pompadur;
}
.orderForm{
    background-color: #5a5a5a;
    width: 1920px;
    height: 880px;
    font-family: Pompadur;
    text-shadow: #000 0 0 24px;

}
.inputBox{
    margin-left: 430px;
    width: 400px;
    height: 40px;
    font-size: 35px;
    margin-top: 150px;
    border-radius: 30px;
    text-align: center;
    font-family: Pompadur;
    text-shadow: #000 0 0 24px;
    color: black;
}
.orderTitle{
    color: white;
    font-family: Pompadur;
    margin-left: 11%;
    font-size: 40px;
}
.orderformInline{
    display: inline-block;
}
.productsTitle{
    font-family: Pompadur;
    font-size: 50px;
    color: black;
    position: absolute;
    margin-left: 16%;
    width: 72%;
    text-shadow: white 0 0 24px;
}
.submitButton{
    width: 300px;
    height: 50px;
    border-radius: 50px;
    border: none;
    color: #000;
    font-family: Pompadur;
    font-size: 30px;
    text-shadow: white 0 0 24px;
    margin-left: 58%;
    margin-top: 50px;
}


